<!-- @format -->

{% extends 'main.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Projects</title>
	</head>
	<body>
		<a href="{% url 'create-project' %}"> Add Form</a>
		<h3>Your are on the {{msg}}</h3>

		<table>
			<tr>
				<th>Projects Name</th>
				<th>Votes</th>
				<th>Tags</th>
				<th>Ratio</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			{% for project in projects%}
			<tr>
				<td>{{project.title}}</td>

				<td>{{project.vote_total}}</td>
				<td>{{project.tag}}</td>

				<td>{{project.vote_ratio}}</td>

				<td>{{project.created}}</td>

				<td>
					<a href="{% url 'update-project' project.id%}"> Edit </a>
				</td>
				<td>
					<a href="{% url 'delete-project' project.id%}"> Delete </a>
				</td>
				<td>
					<a href="{% url 'project' project.id%}"> View </a>
				</td>
			</tr>

			<tr>
				{% endfor %}
			</tr>
		</table>

		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam
			perferendis quo distinctio ipsam tempora ratione excepturi perspiciatis,
			eveniet consequatur? Temporibus impedit nulla ad corporis quasi deleniti
			doloribus maxime odit itaque.
		</p>
	</body>
</html>
{% endblock content %}
